USE [IngDeSoft]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/11/2025 19:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[CantidadIntentos] [int] NOT NULL,
	[Dvh] [varchar](100) NULL,
	[FechaEliminado] [date] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Mail] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioHistorico]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioHistorico](
	[Id] [uniqueidentifier] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[UserName] [nvarchar](50) NULL,
	[Bloqueado] [bit] NULL,
	[CantidadIntentos] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[TipoOperacion] [nvarchar](10) NULL,
	[UsuarioModificador] [nvarchar](50) NULL,
	[FechaEliminado] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UsuarioHistorico] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[UsuarioHistorico] ADD  DEFAULT ((0)) FOR [CantidadIntentos]
GO
ALTER TABLE [dbo].[UsuarioHistorico] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVV]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDVV]
    @NombreTabla VARCHAR(100),
    @Dvv varchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE DigitoVerificador
    SET DVV = @Dvv
    WHERE NombreTabla = @NombreTabla;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTraduccion]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarTraduccion]
    @IdIdioma UNIQUEIDENTIFIER,
    @IdControlIdioma UNIQUEIDENTIFIER,
    @TextoTraducido NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Actualizar la traducción existente
    UPDATE Traduccion
    SET TextoTraducido = @TextoTraducido
    WHERE IdIdioma = @IdIdioma 
    AND IdControlIdioma = @IdControlIdioma;
END
GO
/****** Object:  StoredProcedure [dbo].[AltaPermiso]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaPermiso]
	-- Add the parameters for the stored procedure here
	@IdPermiso varchar(50), 
	@NombrePermiso varchar(50),
	@PermisoParent varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Permiso
	VALUES (@IdPermiso,@NombrePermiso);
	IF @PermisoParent is not null
	BEGIN
		DECLARE @IdPermisoParent varchar(50);
		EXEC GetIdPermisoFromNombre @PermisoParent, @IdPermiso = @IdPermisoParent OUTPUT;
		INSERT INTO PermisoRelacion
		VALUES (ISNULL((SELECT MAX(IdRelacion)+1 FROM PermisoRelacion),1),@IdPermisoParent,@IdPermiso)
	END		


END
GO
/****** Object:  StoredProcedure [dbo].[AsignarPermisoUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AsignarPermisoUsuario]
	-- Add the parameters for the stored procedure here
		@NombrePermiso varchar(50),
		@UserName varchar(50)
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdPermisoObtenido varchar(50)
	DECLARE @IdUsuarioObtenido int

	exec GetIdPermisoFromNombre @NombrePermiso,@IdPermiso = @IdPermisoObtenido OUTPUT
	exec GetIdUsuarioFromUserName @UserName, @IdUsuario = @IdUsuarioObtenido OUTPUT

	INSERT 
	INTO dbo.PermisoUsuario 
	VALUES
	(
		ISNULL((SELECT MAX(pu.Id)+1 FROM dbo.PermisoUsuario pu),1),
		@IdPermisoObtenido,
		@IdUsuarioObtenido
	)
		
END
GO
/****** Object:  StoredProcedure [dbo].[AumentarIntentosUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AumentarIntentosUsuario]
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = CantidadIntentos + 1,
        Dvh = @Dvh
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[BloquearUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BloquearUsuario]
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET Bloqueado = 1,
        Dvh = @Dvh
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearIdioma]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearIdioma]
    @Id UNIQUEIDENTIFIER,
    @Nombre NVARCHAR(100),
    @Codigo NVARCHAR(10),
    @isDefault BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF @isDefault = 1
        BEGIN
            UPDATE Idioma 
            SET isDefault = 0 
            WHERE isDefault = 1;
        END

        INSERT INTO Idioma (Id, Nombre, Codigo, isDefault)
        VALUES (@Id, @Nombre, @Codigo, @isDefault);
        
    END TRY
    BEGIN CATCH

        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[CrearTraduccion]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearTraduccion]
    @Id UNIQUEIDENTIFIER,
    @IdIdioma UNIQUEIDENTIFIER,
    @IdControlIdioma UNIQUEIDENTIFIER,
    @TextoTraducido NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Traduccion (Id, IdIdioma, IdControlIdioma, TextoTraducido)
        VALUES (@Id, @IdIdioma, @IdControlIdioma, @TextoTraducido);
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Contrasena NVARCHAR(500),
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO dbo.Usuario (Id, Nombre, Apellido, Email, Contrasena, UserName, Bloqueado, CantidadIntentos, Dvh)
    VALUES (@Id, @Nombre, @Apellido, @Email, @Contrasena, @UserName, 0, 0, @Dvh);
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPermiso]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPermiso]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Permiso
	WHERE Permiso.Nombre=@NombrePermiso
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPermisoUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPermisoUsuario]
	-- Add the parameters for the stored procedure here
		@NombrePermiso varchar(50),
		@UserName varchar(50)
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdPermisoObtenido varchar(50)
	DECLARE @IdUsuarioObtenido int

	exec GetIdPermisoFromNombre @NombrePermiso,@IdPermiso = @IdPermisoObtenido OUTPUT
	exec GetIdUsuarioFromUserName @UserName, @IdUsuario = @IdUsuarioObtenido OUTPUT

	DELETE
	FROM PermisoUsuario
	WHERE IdUsuario=@IdUsuarioObtenido AND IdPermiso=@IdPermisoObtenido
		
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarUsuario]
	-- Add the parameters for the stored procedure here
	@UserName VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario
	SET FechaEliminado = CONVERT(date,GETDATE())
	where Username = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[GetIdPermisoFromNombre]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIdPermisoFromNombre]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50),
	@IdPermiso varchar(50) = null OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @IdPermiso =
	(
		SELECT idPermiso
		FROM Permiso
		WHERE
			Nombre = @NombrePermiso
	)

END
GO
/****** Object:  StoredProcedure [dbo].[GetIdUsuarioFromUserName]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIdUsuarioFromUserName]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50),
	@IdUsuario int OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @IdUsuario =
	(
		SELECT Usuario.Id
		FROM Usuario
		WHERE
			Username = @UserName
	)

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarBitacora]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarBitacora]
    @Id UNIQUEIDENTIFIER,
    @IdUsuario INT,
    @Fecha DATETIME,
    @Descripcion NVARCHAR(500),
    @Origen NVARCHAR(200),
    @TipoEvento INT,
    @DVH NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Bitacora (Id, IdUsuario, Fecha, Descripcion, Origen, TipoEvento, Dvh)
        VALUES (@Id, @IdUsuario, @Fecha, @Descripcion, @Origen, @TipoEvento, @DVH);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarUsuarioHistorico]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarUsuarioHistorico]
    @Id UNIQUEIDENTIFIER,
    @IdUsuario INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(150),
    @UserName NVARCHAR(50),
    @Bloqueado BIT,
    @CantidadIntentos INT,
    @FechaModificacion DATETIME,
    @TipoOperacion NVARCHAR(10),
    @UsuarioModificador NVARCHAR(50),
    @FechaEliminado Date = null
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UsuarioHistorico (
        Id,
        IdUsuario,
        Nombre,
        Apellido,
        Email,
        UserName,
        Bloqueado,
        CantidadIntentos,
        FechaModificacion,
        TipoOperacion,
        UsuarioModificador,
        FechaEliminado
    )
    VALUES (
        @Id,
        @IdUsuario,
        @Nombre,
        @Apellido,
        @Email,
        @UserName,
        @Bloqueado,
        @CantidadIntentos,
        @FechaModificacion,
        @TipoOperacion,
        @UsuarioModificador,
        @FechaEliminado
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[ModificarPermiso]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarPermiso]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50),
	@NombreNuevo varchar(50),
	@PermisoParent varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @NombreNuevo != @NombrePermiso
	BEGIN
		UPDATE Permiso 
		SET 
			Nombre = @NombreNuevo
		FROM Permiso
		WHERE Permiso.Nombre = @NombrePermiso;
	END
	IF @PermisoParent is not null
	BEGIN
		DECLARE @IdPermisoChild varchar (50);
		DECLARE @IdPermisoParent varchar(50);
		EXEC GetIdPermisoFromNombre @NombreNuevo, @IdPermiso = @IdPermisoChild OUTPUT;
		EXEC GetIdPermisoFromNombre @PermisoParent, @IdPermiso = @IdPermisoParent OUTPUT;
		DECLARE @PermisoEsHijo varchar(50) = 
		(SELECT idPermiso FROM Permiso
		INNER JOIN PermisoRelacion
			ON Permiso.idPermiso = PermisoRelacion.IdPermisoHijo
		WHERE Permiso.idPermiso = @IdPermisoChild
		)
			IF @PermisoEsHijo is null
			BEGIN
				INSERT INTO PermisoRelacion
				VALUES (ISNULL((SELECT MAX(IdRelacion)+1 FROM PermisoRelacion),1),@IdPermisoParent,@IdPermisoChild)
			END
			ELSE 
			BEGIN
				UPDATE PermisoRelacion
				SET 
					IdPermisoPadre = @IdPermisoParent
				From PermisoRelacion
				WHERE IdPermisoHijo = @IdPermisoChild

			END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarUsuario]
    @UserName NVARCHAR(100),
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Bloqueado bit,
    @Dvh NVARCHAR(100),
    @FechaEliminado Date = null
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Email = @Email,
        Bloqueado = @Bloqueado,
        CantidadIntentos = 0,
        Dvh = @Dvh,
        FechaEliminado = @FechaEliminado
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoraFiltradas]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoraFiltradas]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    JOIN dbo.Usuario u ON b.IdUsuario = u.Id
    WHERE b.Descripcion LIKE '%' + @Filtro + '%' 
       OR b.Origen LIKE '%' + @Filtro + '%' 
       OR u.UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoras]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoras]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            b.Dvh,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    LEFT JOIN dbo.Usuario u ON b.IdUsuario = u.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerControlesPorIdioma]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerControlesPorIdioma]
    @IdIdioma UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ci.Id,
        ci.NombreControl,
        t.IdIdioma,
        t.TextoTraducido
    FROM ControlIdioma ci
    INNER JOIN Traduccion t ON ci.Id = t.IdControlIdioma
    WHERE t.IdIdioma = @IdIdioma;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDigitosVerificadores]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerDigitosVerificadores]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        NombreTabla,
        DVV
    FROM DigitoVerificador
    ORDER BY NombreTabla;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdiomaPorDefecto]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerIdiomaPorDefecto]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Nombre,
        Codigo,
        isDefault
    FROM Idioma
    WHERE isDefault = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdiomas]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerIdiomas]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Nombre,
        Codigo,
        isDefault
    FROM Idioma
    ORDER BY 
        isDefault DESC
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosAgrupados]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosAgrupados]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT pav.Nombre, pav.Padre
		FROM 
			dbo.PermisosAgrupados_View pav



END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosAgrupadosPorUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosAgrupadosPorUsuario]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT puv.Nombre,puv.Padre
	FROM dbo.Permiso_Usuario_View puv
	INNER JOIN dbo.PermisosAgrupados_View pav
		ON pav.IdPermiso = puv.idPermiso
	WHERE puv.UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosRelacionados]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosRelacionados]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Nombre,Padre
		FROM dbo.PermisoPadre_PermisoHijo_View


END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosSimples]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosSimples]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT psv.Nombre, psv.Padre
	FROM dbo.PermisosSimples_View psv


END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosSimplesPorUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosSimplesPorUsuario]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT puv.Nombre,puv.Padre
	FROM dbo.Permiso_Usuario_View puv
	INNER JOIN dbo.PermisosSimples_View psv
		ON psv.IdPermiso = puv.idPermiso
	WHERE puv.UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTraduccionPorIdiomaYControlIdioma]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTraduccionPorIdiomaYControlIdioma]
    @IdIdioma UNIQUEIDENTIFIER,
    @IdControlIdioma UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        IdIdioma,
        IdControlIdioma,
        TextoTraducido
    FROM 
        Traduccion
    WHERE 
        IdIdioma = @IdIdioma 
        AND IdControlIdioma = @IdControlIdioma;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioHistorico]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioHistorico]
    @UserName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        IdUsuario,
        Nombre,
        Apellido,
        Email,
        UserName,
        Bloqueado,
        CantidadIntentos,
        FechaModificacion,
        TipoOperacion,
        UsuarioModificador
    FROM UsuarioHistorico
    WHERE UserName = @UserName
    ORDER BY FechaModificacion DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorUsername]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorUsername]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos,
            FechaEliminado
    FROM dbo.Usuario
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos,
            Dvh,
            FechaEliminado
    FROM dbo.Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuariosFiltrados]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuariosFiltrados]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario
    WHERE Nombre LIKE '%' + @Filtro + '%' 
       OR Apellido LIKE '%' + @Filtro + '%' 
       OR Email LIKE '%' + @Filtro + '%' 
       OR UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[ResetearIntentosUsuario]    Script Date: 15/11/2025 19:13:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetearIntentosUsuario]
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = 0,
        Dvh = @Dvh
    WHERE UserName = @UserName;
END
GO
