USE [IngDeSoft]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[idPermiso] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoRelacion]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoRelacion](
	[IdRelacion] [int] NOT NULL,
	[IdPermisoPadre] [varchar](50) NOT NULL,
	[IdPermisoHijo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PermisoRelacion] PRIMARY KEY CLUSTERED 
(
	[IdRelacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PermisoPadre_PermisoHijo_View]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PermisoPadre_PermisoHijo_View]
AS
SELECT pHijo.idPermiso, pHijo.Nombre, pPadre.idPermiso AS IdPadre, pPadre.Nombre AS Padre
FROM     dbo.PermisoRelacion INNER JOIN
                  dbo.Permiso AS pPadre ON pPadre.idPermiso = dbo.PermisoRelacion.IdPermisoPadre RIGHT OUTER JOIN
                  dbo.Permiso AS pHijo ON pHijo.idPermiso = dbo.PermisoRelacion.IdPermisoHijo
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[CantidadIntentos] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoUsuario](
	[Id] [int] NOT NULL,
	[IdPermiso] [varchar](50) NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_PermisoUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Permiso_Usuario_View]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Permiso_Usuario_View]
AS
SELECT dbo.PermisoPadre_PermisoHijo_View.idPermiso, dbo.PermisoPadre_PermisoHijo_View.Nombre, dbo.PermisoPadre_PermisoHijo_View.IdPadre, dbo.PermisoPadre_PermisoHijo_View.Padre, dbo.PermisoUsuario.IdUsuario, 
                  dbo.Usuario.Username
FROM     dbo.PermisoUsuario INNER JOIN
                  dbo.PermisoPadre_PermisoHijo_View ON dbo.PermisoUsuario.IdPermiso = dbo.PermisoPadre_PermisoHijo_View.idPermiso INNER JOIN
                  dbo.Usuario ON dbo.PermisoUsuario.IdUsuario = dbo.Usuario.Id
GO
/****** Object:  View [dbo].[PermisosAgrupados_View]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PermisosAgrupados_View]
AS
SELECT DISTINCT dbo.PermisoPadre_PermisoHijo_View.idPermiso, dbo.PermisoPadre_PermisoHijo_View.Nombre, dbo.PermisoPadre_PermisoHijo_View.IdPadre, dbo.PermisoPadre_PermisoHijo_View.Padre
FROM     dbo.PermisoPadre_PermisoHijo_View INNER JOIN
                  dbo.PermisoRelacion ON dbo.PermisoRelacion.IdPermisoPadre = dbo.PermisoPadre_PermisoHijo_View.idPermiso
GO
/****** Object:  View [dbo].[PermisosSimples_View]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PermisosSimples_View]
AS
SELECT ppv.IdPermiso,ppv.Nombre,ppv.IdPadre, ppv.Padre
FROM dbo.PermisoPadre_PermisoHijo_View ppv
EXCEPT
SELECT pav.IdPermiso,pav.Nombre,pav.IdPadre, pav.padre
FROM dbo.PermisosAgrupados_View pav
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [varchar](50) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Origen] [varchar](100) NOT NULL,
	[TipoEvento] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AltaPermiso]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AltaPermiso]
	-- Add the parameters for the stored procedure here
	@IdPermiso varchar(50), 
	@NombrePermiso varchar(50),
	@PermisoParent varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Permiso
	VALUES (@IdPermiso,@NombrePermiso);
	IF @PermisoParent is not null
	BEGIN
		DECLARE @IdPermisoParent varchar(50);
		EXEC GetIdPermisoFromNombre @PermisoParent, @IdPermiso = @IdPermisoParent OUTPUT;
		INSERT INTO PermisoRelacion
		VALUES (ISNULL((SELECT MAX(IdRelacion)+1 FROM PermisoRelacion),1),@IdPermisoParent,@IdPermiso)
	END		


END
GO
/****** Object:  StoredProcedure [dbo].[AsignarPermisoUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AsignarPermisoUsuario]
	-- Add the parameters for the stored procedure here
		@NombrePermiso varchar(50),
		@UserName varchar(50)
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdPermisoObtenido varchar(50)
	DECLARE @IdUsuarioObtenido int

	exec GetIdPermisoFromNombre @NombrePermiso,@IdPermiso = @IdPermisoObtenido OUTPUT
	exec GetIdUsuarioFromUserName @UserName, @IdUsuario = @IdUsuarioObtenido OUTPUT

	INSERT 
	INTO dbo.PermisoUsuario 
	VALUES
	(
		ISNULL((SELECT MAX(pu.Id)+1 FROM dbo.PermisoUsuario pu),1),
		@IdPermisoObtenido,
		@IdUsuarioObtenido
	)
		
END
GO
/****** Object:  StoredProcedure [dbo].[AumentarIntentosUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AumentarIntentosUsuario]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = CantidadIntentos + 1
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[BloquearUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BloquearUsuario]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET Bloqueado = 1
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Contrasena NVARCHAR(500),
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO dbo.Usuario (Id, Nombre, Apellido, Email, Contrasena, UserName, Bloqueado, CantidadIntentos)
    VALUES (@Id, @Nombre, @Apellido, @Email, @Contrasena, @UserName, 0, 0);
END

GO
/****** Object:  StoredProcedure [dbo].[EliminarPermiso]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarPermiso]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Permiso
	WHERE Permiso.Nombre=@NombrePermiso
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPermisoUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarPermisoUsuario]
	-- Add the parameters for the stored procedure here
		@NombrePermiso varchar(50),
		@UserName varchar(50)
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdPermisoObtenido varchar(50)
	DECLARE @IdUsuarioObtenido int

	exec GetIdPermisoFromNombre @NombrePermiso,@IdPermiso = @IdPermisoObtenido OUTPUT
	exec GetIdUsuarioFromUserName @UserName, @IdUsuario = @IdUsuarioObtenido OUTPUT

	DELETE
	FROM PermisoUsuario
	WHERE IdUsuario=@IdUsuarioObtenido AND IdPermiso=@IdPermisoObtenido
		
END
GO
/****** Object:  StoredProcedure [dbo].[GetIdPermisoFromNombre]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Baya, Mateo
-- Create date: 30/10/2025
-- =============================================
CREATE PROCEDURE [dbo].[GetIdPermisoFromNombre]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50),
	@IdPermiso varchar(50) = null OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @IdPermiso =
	(
		SELECT idPermiso
		FROM Permiso
		WHERE
			Nombre = @NombrePermiso
	)

END
GO
/****** Object:  StoredProcedure [dbo].[GetIdUsuarioFromUserName]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Baya, Mateo
-- Create date: 30/10/2025
-- =============================================
CREATE PROCEDURE [dbo].[GetIdUsuarioFromUserName]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50),
	@IdUsuario int OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @IdUsuario =
	(
		SELECT Usuario.Id
		FROM Usuario
		WHERE
			Nombre = @UserName
	)

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarBitacora]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarBitacora]
    @Id UNIQUEIDENTIFIER,
    @IdUsuario INT,
    @Fecha DATETIME,
    @Descripcion NVARCHAR(500),
    @Origen NVARCHAR(200),
    @TipoEvento INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Bitacora (Id, IdUsuario, Fecha, Descripcion, Origen, TipoEvento)
        VALUES (@Id, @IdUsuario, @Fecha, @Descripcion, @Origen, @TipoEvento);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[ModificarPermiso]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Baya, Mateo
-- Create date: 30/10/2025
-- =============================================
CREATE PROCEDURE [dbo].[ModificarPermiso]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50),
	@NombreNuevo varchar(50),
	@PermisoParent varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @NombreNuevo != @NombrePermiso
	BEGIN
		UPDATE Permiso 
		SET 
			Nombre = @NombreNuevo
		FROM Permiso
		WHERE Permiso.Nombre = @NombrePermiso;
	END
	IF @PermisoParent is not null
	BEGIN
		DECLARE @IdPermisoChild varchar (50);
		DECLARE @IdPermisoParent varchar(50);
		EXEC GetIdPermisoFromNombre @NombreNuevo, @IdPermiso = @IdPermisoChild OUTPUT;
		EXEC GetIdPermisoFromNombre @PermisoParent, @IdPermiso = @IdPermisoParent OUTPUT;
		DECLARE @PermisoEsHijo varchar(50) = 
		(SELECT idPermiso FROM Permiso
		INNER JOIN PermisoRelacion
			ON Permiso.idPermiso = PermisoRelacion.IdPermisoHijo
		WHERE Permiso.idPermiso = @IdPermisoChild
		)
			IF @PermisoEsHijo is null
			BEGIN
				INSERT INTO PermisoRelacion
				VALUES (ISNULL((SELECT MAX(IdRelacion)+1 FROM PermisoRelacion),1),@IdPermisoParent,@IdPermisoChild)
			END
			ELSE 
			BEGIN
				UPDATE PermisoRelacion
				SET 
					IdPermisoPadre = @IdPermisoParent
				From PermisoRelacion
				WHERE IdPermisoHijo = @IdPermisoChild

			END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarUsuario]
    @UserName NVARCHAR(100),
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Bloqueado bit
AS
BEGIN
    SET NOCOUNT ON;
        
    UPDATE dbo.Usuario
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Email = @Email,
        Bloqueado = @Bloqueado,
        CantidadIntentos = 0
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoraFiltradas]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoraFiltradas]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    JOIN dbo.Usuario u ON b.IdUsuario = u.Id
    WHERE b.Descripcion LIKE '%' + @Filtro + '%' 
       OR b.Origen LIKE '%' + @Filtro + '%' 
       OR u.UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoras]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoras]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    LEFT JOIN dbo.Usuario u ON b.IdUsuario = u.Id;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosAgrupados]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Baya, Mateo
-- Create date: 30/10/2025
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPermisosAgrupados]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT pav.Nombre, pav.Padre
		FROM 
			dbo.PermisosAgrupados_View pav



END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosAgrupadosPorUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPermisosAgrupadosPorUsuario]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT puv.Nombre,puv.Padre
	FROM dbo.Permiso_Usuario_View puv
	INNER JOIN dbo.PermisosAgrupados_View pav
		ON pav.IdPermiso = puv.idPermiso
	WHERE puv.UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosRelacionados]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Baya, Mateo
-- Create date: 30/10/2025
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPermisosRelacionados]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Nombre,Padre
		FROM dbo.PermisoPadre_PermisoHijo_View


END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosSimples]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Baya, Mateo
-- Create date: 30/10/2025
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPermisosSimples]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT psv.Nombre, psv.Padre
	FROM dbo.PermisosSimples_View psv


END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosSimplesPorUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPermisosSimplesPorUsuario]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT puv.Nombre,puv.Padre
	FROM dbo.Permiso_Usuario_View puv
	INNER JOIN dbo.PermisosSimples_View psv
		ON psv.IdPermiso = puv.idPermiso
	WHERE puv.UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorUsername]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorUsername]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario
    WHERE UserName = @UserName;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuariosFiltrados]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuariosFiltrados]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario
    WHERE Nombre LIKE '%' + @Filtro + '%' 
       OR Apellido LIKE '%' + @Filtro + '%' 
       OR Email LIKE '%' + @Filtro + '%' 
       OR UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[ResetearIntentosUsuario]    Script Date: 3/11/2025 06:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetearIntentosUsuario]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = 0
    WHERE UserName = @UserName;
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PermisoUsuario"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 148
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PermisoPadre_PermisoHijo_View"
            Begin Extent = 
               Top = 125
               Left = 386
               Bottom = 288
               Right = 630
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Usuario"
            Begin Extent = 
               Top = 0
               Left = 651
               Bottom = 163
               Right = 895
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Permiso_Usuario_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Permiso_Usuario_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PermisoRelacion"
            Begin Extent = 
               Top = 7
               Left = 340
               Bottom = 148
               Right = 584
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pPadre"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 126
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pHijo"
            Begin Extent = 
               Top = 7
               Left = 632
               Bottom = 126
               Right = 876
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PermisoPadre_PermisoHijo_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PermisoPadre_PermisoHijo_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -1560
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PermisoRelacion"
            Begin Extent = 
               Top = 1599
               Left = 367
               Bottom = 1740
               Right = 611
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PermisoPadre_PermisoHijo_View"
            Begin Extent = 
               Top = 1567
               Left = 48
               Bottom = 1730
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PermisosAgrupados_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PermisosAgrupados_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PermisoPadre_PermisoHijo_View"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PermisosAgrupados_View"
            Begin Extent = 
               Top = 7
               Left = 340
               Bottom = 177
               Right = 584
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PermisosSimples_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PermisosSimples_View'
GO
