USE [master]
GO
/****** Object:  Database [IngDeSoft]    Script Date: 19/11/2025 14:08:58 ******/
CREATE DATABASE [IngDeSoft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IngSoft', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IngSoft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IngSoft_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IngSoft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IngDeSoft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IngDeSoft]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[idPermiso] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoRelacion]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoRelacion](
	[IdRelacion] [int] NOT NULL,
	[IdPermisoPadre] [varchar](50) NOT NULL,
	[IdPermisoHijo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PermisoRelacion] PRIMARY KEY CLUSTERED 
(
	[IdRelacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PermisoPadre_PermisoHijo_View]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PermisoPadre_PermisoHijo_View]
AS
SELECT pHijo.idPermiso, pHijo.Nombre, pPadre.idPermiso AS IdPadre, pPadre.Nombre AS Padre
FROM     dbo.PermisoRelacion INNER JOIN
                  dbo.Permiso AS pPadre ON pPadre.idPermiso = dbo.PermisoRelacion.IdPermisoPadre RIGHT OUTER JOIN
                  dbo.Permiso AS pHijo ON pHijo.idPermiso = dbo.PermisoRelacion.IdPermisoHijo
GO
/****** Object:  Table [dbo].[PermisoUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoUsuario](
	[Id] [int] NOT NULL,
	[IdPermiso] [varchar](50) NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_PermisoUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[CantidadIntentos] [int] NOT NULL,
	[Dvh] [varchar](100) NULL,
	[FechaEliminado] [date] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Permiso_Usuario_View]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Permiso_Usuario_View]
AS
SELECT dbo.PermisoPadre_PermisoHijo_View.idPermiso, dbo.PermisoPadre_PermisoHijo_View.Nombre, dbo.PermisoPadre_PermisoHijo_View.IdPadre, dbo.PermisoPadre_PermisoHijo_View.Padre, dbo.PermisoUsuario.IdUsuario, 
                  dbo.Usuario.Username
FROM     dbo.PermisoUsuario INNER JOIN
                  dbo.PermisoPadre_PermisoHijo_View ON dbo.PermisoUsuario.IdPermiso = dbo.PermisoPadre_PermisoHijo_View.idPermiso INNER JOIN
                  dbo.Usuario ON dbo.PermisoUsuario.IdUsuario = dbo.Usuario.Id
GO
/****** Object:  View [dbo].[PermisosAgrupados_View]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PermisosAgrupados_View]
AS
SELECT DISTINCT dbo.PermisoPadre_PermisoHijo_View.idPermiso, dbo.PermisoPadre_PermisoHijo_View.Nombre, dbo.PermisoPadre_PermisoHijo_View.IdPadre, dbo.PermisoPadre_PermisoHijo_View.Padre
FROM     dbo.PermisoPadre_PermisoHijo_View INNER JOIN
                  dbo.PermisoRelacion ON dbo.PermisoRelacion.IdPermisoPadre = dbo.PermisoPadre_PermisoHijo_View.idPermiso
GO
/****** Object:  View [dbo].[PermisosSimples_View]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PermisosSimples_View]
AS
SELECT ppv.IdPermiso,ppv.Nombre,ppv.IdPadre, ppv.Padre
FROM dbo.PermisoPadre_PermisoHijo_View ppv
EXCEPT
SELECT pav.IdPermiso,pav.Nombre,pav.IdPadre, pav.padre
FROM dbo.PermisosAgrupados_View pav
GO
/****** Object:  Table [dbo].[BackUps]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackUps](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreArchivo] [nvarchar](255) NOT NULL,
	[RutaCompleta] [nvarchar](500) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[TamanoBytes] [bigint] NOT NULL,
	[UsuarioCreador] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [varchar](50) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Origen] [varchar](100) NOT NULL,
	[TipoEvento] [int] NOT NULL,
	[Dvh] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlIdioma]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlIdioma](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreControl] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificador]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreTabla] [varchar](100) NOT NULL,
	[DVV] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[IsDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Id] [uniqueidentifier] NOT NULL,
	[IdIdioma] [uniqueidentifier] NOT NULL,
	[IdControlIdioma] [uniqueidentifier] NOT NULL,
	[TextoTraducido] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioHistorico]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioHistorico](
	[Id] [uniqueidentifier] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[UserName] [nvarchar](50) NULL,
	[Bloqueado] [bit] NULL,
	[CantidadIntentos] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[TipoOperacion] [nvarchar](10) NULL,
	[UsuarioModificador] [nvarchar](50) NULL,
	[FechaEliminado] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BackUps] ([Id], [NombreArchivo], [RutaCompleta], [FechaCreacion], [TamanoBytes], [UsuarioCreador]) VALUES (N'6e9916f0-bfe1-483a-be74-1ba712e2f671', N'IngSoft_Backup_20251119_130957.bak', N'C:\ProgramData\IngSoft\Backups\IngSoft_Backup_20251119_130957.bak', CAST(N'2025-11-19T13:09:57.627' AS DateTime), 0, N'a')
INSERT [dbo].[BackUps] ([Id], [NombreArchivo], [RutaCompleta], [FechaCreacion], [TamanoBytes], [UsuarioCreador]) VALUES (N'bb34d44e-04b5-4682-acd7-578074a8b861', N'IngSoft_Backup_20251119_140505.bak', N'C:\ProgramData\IngSoft\Backups\IngSoft_Backup_20251119_140505.bak', CAST(N'2025-11-19T14:05:05.057' AS DateTime), 1269760, N'a')
GO
INSERT [dbo].[Bitacora] ([Id], [IdUsuario], [Fecha], [Descripcion], [Origen], [TipoEvento], [Dvh]) VALUES (N'A27A9C45-7897-42EB-836C-55DFB271ED87', 2, CAST(N'2025-11-05T04:53:04.220' AS DateTime), N'Acceso exitoso', N'Login', 0, N'1d18e13387e7e30baef9717162ca6198')
INSERT [dbo].[Bitacora] ([Id], [IdUsuario], [Fecha], [Descripcion], [Origen], [TipoEvento], [Dvh]) VALUES (N'805630E6-B6F5-420E-806A-76CEB338687D', 2, CAST(N'2025-11-05T04:53:04.257' AS DateTime), N'Se guardó el historial del usuario a', N'GuardarUsuarioHistorico', 0, N'8e0f637447664e895d5c52ccacddaf1b')
INSERT [dbo].[Bitacora] ([Id], [IdUsuario], [Fecha], [Descripcion], [Origen], [TipoEvento], [Dvh]) VALUES (N'E7322647-7665-4077-BCF4-8BD537A8CDA5', 2, CAST(N'2025-11-05T04:53:04.267' AS DateTime), N'Integridad de la DB validada correctamente', N'ValidarIntegridadDB', 0, N'8498558b74b047e4e369286c0d8da48c')
GO
INSERT [dbo].[ControlIdioma] ([Id], [NombreControl]) VALUES (N'2d5ab56f-6c75-4d29-9b35-56fd17e17148', N'agregarNuevoToolStripMenuItem')
INSERT [dbo].[ControlIdioma] ([Id], [NombreControl]) VALUES (N'93db9fe6-a0a5-4c4a-beb6-9bf021aa263e', N'agregarPermisoToolStripMenuItem')
INSERT [dbo].[ControlIdioma] ([Id], [NombreControl]) VALUES (N'56c2c387-a247-4230-8621-4efa653a1b8a', N'asignarPermisoToolStripMenuItem')
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificador] ON 

INSERT [dbo].[DigitoVerificador] ([Id], [NombreTabla], [DVV]) VALUES (1, N'Usuario', N'cdddd4c6de3732bf234a21c138d782fe')
INSERT [dbo].[DigitoVerificador] ([Id], [NombreTabla], [DVV]) VALUES (2, N'Bitacora', N'7f4e09b64fd49b307bab7e2e0fdb8054')
SET IDENTITY_INSERT [dbo].[DigitoVerificador] OFF
GO
INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo], [IsDefault]) VALUES (N'e1e0e1f2-352f-4d8a-accf-7f75c4e5119f', N'Ingles', N'en', 0)
INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo], [IsDefault]) VALUES (N'576fbc76-cda2-4054-ac47-fa233f2a6593', N'Español', N'es', 1)
GO
INSERT [dbo].[Permiso] ([idPermiso], [Nombre]) VALUES (N'00177125-C4BD-4AAA-A04B-AB90B0D71C52', N'Bitacora')
INSERT [dbo].[Permiso] ([idPermiso], [Nombre]) VALUES (N'15BE4666-B6CE-43E6-92DB-ABD878F3F818', N'BajaUsuario')
INSERT [dbo].[Permiso] ([idPermiso], [Nombre]) VALUES (N'213291DE-AB10-4062-A17B-B0BA116335FE', N'ModificarPermiso')
GO
INSERT [dbo].[PermisoRelacion] ([IdRelacion], [IdPermisoPadre], [IdPermisoHijo]) VALUES (1, N'DC81FCCE-9CD8-480C-8C72-13BCA0C7BA40', N'E4ED6E46-BEA3-4FD1-96F4-F2456E0F37FB')
INSERT [dbo].[PermisoRelacion] ([IdRelacion], [IdPermisoPadre], [IdPermisoHijo]) VALUES (2, N'E4ED6E46-BEA3-4FD1-96F4-F2456E0F37FB', N'3FE6FEF1-0BC9-40D9-8371-31953915900E')
INSERT [dbo].[PermisoRelacion] ([IdRelacion], [IdPermisoPadre], [IdPermisoHijo]) VALUES (3, N'DC81FCCE-9CD8-480C-8C72-13BCA0C7BA40', N'00177125-C4BD-4AAA-A04B-AB90B0D71C52')
GO
INSERT [dbo].[PermisoUsuario] ([Id], [IdPermiso], [IdUsuario]) VALUES (11, N'C360F791-28F0-4BD8-A8D2-503FED3608A8', 3)
INSERT [dbo].[PermisoUsuario] ([Id], [IdPermiso], [IdUsuario]) VALUES (12, N'DC568D4F-A969-4F45-827E-358C18403BBC', 3)
INSERT [dbo].[PermisoUsuario] ([Id], [IdPermiso], [IdUsuario]) VALUES (13, N'DEBF85B1-0250-4FAA-845B-92D63C0802AD', 3)
GO
INSERT [dbo].[Traduccion] ([Id], [IdIdioma], [IdControlIdioma], [TextoTraducido]) VALUES (N'1155c676-4fac-45ca-80df-04a91d8c939c', N'576fbc76-cda2-4054-ac47-fa233f2a6593', N'8ed6b17c-7895-43da-9dea-766b2e5ba836', N'Permisos')
INSERT [dbo].[Traduccion] ([Id], [IdIdioma], [IdControlIdioma], [TextoTraducido]) VALUES (N'55086c3a-3526-450c-a178-07812e11ccb1', N'e1e0e1f2-352f-4d8a-accf-7f75c4e5119f', N'db26cf05-b23b-4c5a-bdd9-5eb39387065d', N'[Usuario]')
INSERT [dbo].[Traduccion] ([Id], [IdIdioma], [IdControlIdioma], [TextoTraducido]) VALUES (N'6987426a-dafa-4709-9f57-08d83f1b6491', N'e1e0e1f2-352f-4d8a-accf-7f75c4e5119f', N'1eec4156-aa68-4b08-93f8-5f572552c494', N'[Guardar Cambios]')
GO
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Username], [Contrasena], [Bloqueado], [CantidadIntentos], [Dvh], [FechaEliminado]) VALUES (1, N'Ricardo', N'Misme', N'misme.ricardo@gmail.com', N'rmisme', N'0cc175b9c0f1b6a831c399e269772661', 0, 0, N'c5b3e414e3fcab04994e62e39b464fe1', NULL)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Username], [Contrasena], [Bloqueado], [CantidadIntentos], [Dvh], [FechaEliminado]) VALUES (2, N'Ingenieria', N'De Sistemas', N'prueba2@gmail.com', N'a', N'0cc175b9c0f1b6a831c399e269772661', 0, 0, N'ca234d35a8479632408f210e0989bbdb', NULL)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [Username], [Contrasena], [Bloqueado], [CantidadIntentos], [Dvh], [FechaEliminado]) VALUES (3, N'Prueba3', N'Prueba', N'prueba@gmail.com', N'prueba', N'0cc175b9c0f1b6a831c399e269772661', 0, 0, N'bdd6963e504f7e672203707914004b44', NULL)
GO
INSERT [dbo].[UsuarioHistorico] ([Id], [IdUsuario], [Nombre], [Apellido], [Email], [UserName], [Bloqueado], [CantidadIntentos], [FechaModificacion], [TipoOperacion], [UsuarioModificador], [FechaEliminado]) VALUES (N'f64a1992-b5fa-42c8-98b1-059f07673f8b', 2, N'Ingenieria', N'De Sistemas', N'prueba2@gmail.com', N'a', 0, 0, CAST(N'2025-11-04T10:02:16.300' AS DateTime), N'1', N'a', NULL)
INSERT [dbo].[UsuarioHistorico] ([Id], [IdUsuario], [Nombre], [Apellido], [Email], [UserName], [Bloqueado], [CantidadIntentos], [FechaModificacion], [TipoOperacion], [UsuarioModificador], [FechaEliminado]) VALUES (N'c2eb3e53-5c6b-4af0-926a-0b2c3cbbde63', 2, N'Ingenieria', N'De Sistemas', N'prueba2@gmail.com', N'a', 0, 0, CAST(N'2025-11-05T02:43:37.497' AS DateTime), N'1', N'a', NULL)
INSERT [dbo].[UsuarioHistorico] ([Id], [IdUsuario], [Nombre], [Apellido], [Email], [UserName], [Bloqueado], [CantidadIntentos], [FechaModificacion], [TipoOperacion], [UsuarioModificador], [FechaEliminado]) VALUES (N'bf36ebda-abfa-41f0-ba96-0e5fb3603ecc', 2, N'Ingenieria', N'De Sistemas', N'prueba2@gmail.com', N'a', 0, 0, CAST(N'2025-11-05T04:53:04.253' AS DateTime), N'1', N'a', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ControlIdioma_NombreControl]    Script Date: 19/11/2025 14:08:59 ******/
CREATE NONCLUSTERED INDEX [IX_ControlIdioma_NombreControl] ON [dbo].[ControlIdioma]
(
	[NombreControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Idioma__06370DAC8E303A8F]    Script Date: 19/11/2025 14:08:59 ******/
ALTER TABLE [dbo].[Idioma] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Idioma_Codigo]    Script Date: 19/11/2025 14:08:59 ******/
CREATE NONCLUSTERED INDEX [IX_Idioma_Codigo] ON [dbo].[Idioma]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Idioma_Nombre]    Script Date: 19/11/2025 14:08:59 ******/
CREATE NONCLUSTERED INDEX [IX_Idioma_Nombre] ON [dbo].[Idioma]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Traduccion]    Script Date: 19/11/2025 14:08:59 ******/
ALTER TABLE [dbo].[Traduccion] ADD  CONSTRAINT [UK_Traduccion] UNIQUE NONCLUSTERED 
(
	[IdIdioma] ASC,
	[IdControlIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ControlIdioma] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Idioma] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Idioma] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[UsuarioHistorico] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[UsuarioHistorico] ADD  DEFAULT ((0)) FOR [CantidadIntentos]
GO
ALTER TABLE [dbo].[UsuarioHistorico] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_ControlIdioma] FOREIGN KEY([IdControlIdioma])
REFERENCES [dbo].[ControlIdioma] ([Id])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_ControlIdioma]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([Id])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVHBitacora]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDVHBitacora]
    @Id UNIQUEIDENTIFIER,
    @Dvh NVARCHAR(MAX)
AS
BEGIN
    UPDATE Bitacora
    SET Dvh = @Dvh
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVHUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDVHUsuario]
    @Id INT,
    @Dvh NVARCHAR(MAX)
AS
BEGIN
    UPDATE Usuario
    SET Dvh = @Dvh
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVV]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDVV]
    @NombreTabla VARCHAR(100),
    @Dvv varchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE DigitoVerificador
    SET DVV = @Dvv
    WHERE NombreTabla = @NombreTabla;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTamanoBackup]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarTamanoBackup]
    @Id UNIQUEIDENTIFIER,
    @TamanoBytes BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE BackUps
    SET TamanoBytes = @TamanoBytes
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTraduccion]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarTraduccion]
    @IdIdioma UNIQUEIDENTIFIER,
    @IdControlIdioma UNIQUEIDENTIFIER,
    @TextoTraducido NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Actualizar la traducción existente
    UPDATE Traduccion
    SET TextoTraducido = @TextoTraducido
    WHERE IdIdioma = @IdIdioma 
    AND IdControlIdioma = @IdControlIdioma;
END
GO
/****** Object:  StoredProcedure [dbo].[AltaPermiso]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaPermiso]
	-- Add the parameters for the stored procedure here
	@IdPermiso varchar(50), 
	@NombrePermiso varchar(50),
	@PermisoParent varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Permiso
	VALUES (@IdPermiso,@NombrePermiso);
	IF @PermisoParent is not null
	BEGIN
		DECLARE @IdPermisoParent varchar(50);
		EXEC GetIdPermisoFromNombre @PermisoParent, @IdPermiso = @IdPermisoParent OUTPUT;
		INSERT INTO PermisoRelacion
		VALUES (ISNULL((SELECT MAX(IdRelacion)+1 FROM PermisoRelacion),1),@IdPermisoParent,@IdPermiso)
	END		


END
GO
/****** Object:  StoredProcedure [dbo].[AsignarPermisoUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AsignarPermisoUsuario]
	-- Add the parameters for the stored procedure here
		@NombrePermiso varchar(50),
		@UserName varchar(50)
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdPermisoObtenido varchar(50)
	DECLARE @IdUsuarioObtenido int

	exec GetIdPermisoFromNombre @NombrePermiso,@IdPermiso = @IdPermisoObtenido OUTPUT
	exec GetIdUsuarioFromUserName @UserName, @IdUsuario = @IdUsuarioObtenido OUTPUT

	INSERT 
	INTO dbo.PermisoUsuario 
	VALUES
	(
		ISNULL((SELECT MAX(pu.Id)+1 FROM dbo.PermisoUsuario pu),1),
		@IdPermisoObtenido,
		@IdUsuarioObtenido
	)
		
END
GO
/****** Object:  StoredProcedure [dbo].[AumentarIntentosUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AumentarIntentosUsuario]
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = CantidadIntentos + 1,
        Dvh = @Dvh
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[BloquearUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BloquearUsuario]
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET Bloqueado = 1,
        Dvh = @Dvh
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearBackup]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearBackup]
    @NombreBD NVARCHAR(100),
    @RutaCompleta NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SQL NVARCHAR(MAX);
    
    -- Crear backup con compresión
    SET @SQL = N'BACKUP DATABASE [' + @NombreBD + '] 
                 TO DISK = ''' + @RutaCompleta + ''' 
                 WITH FORMAT, INIT, COMPRESSION, CHECKSUM, STATS = 10';
    
    EXEC sp_executesql @SQL;
END
GO
/****** Object:  StoredProcedure [dbo].[CrearIdioma]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearIdioma]
    @Id UNIQUEIDENTIFIER,
    @Nombre NVARCHAR(100),
    @Codigo NVARCHAR(10),
    @isDefault BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF @isDefault = 1
        BEGIN
            UPDATE Idioma 
            SET isDefault = 0 
            WHERE isDefault = 1;
        END

        INSERT INTO Idioma (Id, Nombre, Codigo, isDefault)
        VALUES (@Id, @Nombre, @Codigo, @isDefault);
        
    END TRY
    BEGIN CATCH

        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[CrearTraduccion]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearTraduccion]
    @Id UNIQUEIDENTIFIER,
    @IdIdioma UNIQUEIDENTIFIER,
    @IdControlIdioma UNIQUEIDENTIFIER,
    @TextoTraducido NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Traduccion (Id, IdIdioma, IdControlIdioma, TextoTraducido)
        VALUES (@Id, @IdIdioma, @IdControlIdioma, @TextoTraducido);
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuario]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Contrasena NVARCHAR(500),
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO dbo.Usuario (Id, Nombre, Apellido, Email, Contrasena, UserName, Bloqueado, CantidadIntentos, Dvh)
    VALUES (@Id, @Nombre, @Apellido, @Email, @Contrasena, @UserName, 0, 0, @Dvh);
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarBackup]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarBackup]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM BackUps
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPermiso]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPermiso]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Permiso
	WHERE Permiso.Nombre=@NombrePermiso
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPermisoUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPermisoUsuario]
	-- Add the parameters for the stored procedure here
		@NombrePermiso varchar(50),
		@UserName varchar(50)
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @IdPermisoObtenido varchar(50)
	DECLARE @IdUsuarioObtenido int

	exec GetIdPermisoFromNombre @NombrePermiso,@IdPermiso = @IdPermisoObtenido OUTPUT
	exec GetIdUsuarioFromUserName @UserName, @IdUsuario = @IdUsuarioObtenido OUTPUT

	DELETE
	FROM PermisoUsuario
	WHERE IdUsuario=@IdUsuarioObtenido AND IdPermiso=@IdPermisoObtenido
		
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
	-- Add the parameters for the stored procedure here
	@UserName VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Usuario
	SET FechaEliminado = CONVERT(date,GETDATE())
	where Username = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[GetIdPermisoFromNombre]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIdPermisoFromNombre]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50),
	@IdPermiso varchar(50) = null OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @IdPermiso =
	(
		SELECT idPermiso
		FROM Permiso
		WHERE
			Nombre = @NombrePermiso
	)

END
GO
/****** Object:  StoredProcedure [dbo].[GetIdUsuarioFromUserName]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIdUsuarioFromUserName]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50),
	@IdUsuario int OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SET @IdUsuario =
	(
		SELECT Usuario.Id
		FROM Usuario
		WHERE
			Username = @UserName
	)

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarBitacora]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarBitacora]
    @Id UNIQUEIDENTIFIER,
    @IdUsuario INT,
    @Fecha DATETIME,
    @Descripcion NVARCHAR(500),
    @Origen NVARCHAR(200),
    @TipoEvento INT,
    @DVH NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.Bitacora (Id, IdUsuario, Fecha, Descripcion, Origen, TipoEvento, Dvh)
        VALUES (@Id, @IdUsuario, @Fecha, @Descripcion, @Origen, @TipoEvento, @DVH);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarUsuarioHistorico]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarUsuarioHistorico]
    @Id UNIQUEIDENTIFIER,
    @IdUsuario INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(150),
    @UserName NVARCHAR(50),
    @Bloqueado BIT,
    @CantidadIntentos INT,
    @FechaModificacion DATETIME,
    @TipoOperacion NVARCHAR(10),
    @UsuarioModificador NVARCHAR(50),
    @FechaEliminado Date = null
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UsuarioHistorico (
        Id,
        IdUsuario,
        Nombre,
        Apellido,
        Email,
        UserName,
        Bloqueado,
        CantidadIntentos,
        FechaModificacion,
        TipoOperacion,
        UsuarioModificador,
        FechaEliminado
    )
    VALUES (
        @Id,
        @IdUsuario,
        @Nombre,
        @Apellido,
        @Email,
        @UserName,
        @Bloqueado,
        @CantidadIntentos,
        @FechaModificacion,
        @TipoOperacion,
        @UsuarioModificador,
        @FechaEliminado
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificarPermiso]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarPermiso]
	-- Add the parameters for the stored procedure here
	@NombrePermiso varchar(50),
	@NombreNuevo varchar(50),
	@PermisoParent varchar(50) = null

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @NombreNuevo != @NombrePermiso
	BEGIN
		UPDATE Permiso 
		SET 
			Nombre = @NombreNuevo
		FROM Permiso
		WHERE Permiso.Nombre = @NombrePermiso;
	END
	IF @PermisoParent is not null
	BEGIN
		DECLARE @IdPermisoChild varchar (50);
		DECLARE @IdPermisoParent varchar(50);
		EXEC GetIdPermisoFromNombre @NombreNuevo, @IdPermiso = @IdPermisoChild OUTPUT;
		EXEC GetIdPermisoFromNombre @PermisoParent, @IdPermiso = @IdPermisoParent OUTPUT;
		DECLARE @PermisoEsHijo varchar(50) = 
		(SELECT idPermiso FROM Permiso
		INNER JOIN PermisoRelacion
			ON Permiso.idPermiso = PermisoRelacion.IdPermisoHijo
		WHERE Permiso.idPermiso = @IdPermisoChild
		)
			IF @PermisoEsHijo is null
			BEGIN
				INSERT INTO PermisoRelacion
				VALUES (ISNULL((SELECT MAX(IdRelacion)+1 FROM PermisoRelacion),1),@IdPermisoParent,@IdPermisoChild)
			END
			ELSE 
			BEGIN
				UPDATE PermisoRelacion
				SET 
					IdPermisoPadre = @IdPermisoParent
				From PermisoRelacion
				WHERE IdPermisoHijo = @IdPermisoChild

			END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarUsuario]
    @UserName NVARCHAR(100),
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Email NVARCHAR(200),
    @Bloqueado BIT,
    @Dvh NVARCHAR(100),
    @FechaEliminado Date = null
AS
BEGIN
    SET NOCOUNT ON;
        
    UPDATE dbo.Usuario
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Email = @Email,
        Bloqueado = @Bloqueado,
        CantidadIntentos = 0,
        Dvh = @Dvh,
        FechaEliminado = @FechaEliminado
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoraFiltradas]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoraFiltradas]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    JOIN dbo.Usuario u ON b.IdUsuario = u.Id
    WHERE b.Descripcion LIKE '%' + @Filtro + '%' 
       OR b.Origen LIKE '%' + @Filtro + '%' 
       OR u.UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerBitacoras]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerBitacoras]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  b.Id,
            b.Descripcion,
            b.Fecha,
            b.Origen,
            b.TipoEvento,
            b.Dvh,
            u.Id AS IdUsuario,
            u.Nombre,
            u.Apellido,
            u.Email,
            u.Contrasena,
            u.UserName
    FROM dbo.Bitacora b
    LEFT JOIN dbo.Usuario u ON b.IdUsuario = u.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerControlesPorIdioma]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerControlesPorIdioma]
    @IdIdioma UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ci.Id,
        ci.NombreControl,
        t.IdIdioma,
        t.TextoTraducido
    FROM ControlIdioma ci
    INNER JOIN Traduccion t ON ci.Id = t.IdControlIdioma
    WHERE t.IdIdioma = @IdIdioma;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDigitosVerificadores]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerDigitosVerificadores]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        NombreTabla,
        DVV
    FROM DigitoVerificador
    ORDER BY NombreTabla;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerHistorialBackups]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerHistorialBackups]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        NombreArchivo,
        RutaCompleta,
        FechaCreacion,
        TamanoBytes,
        UsuarioCreador
    FROM Backups
    ORDER BY FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdiomaPorDefecto]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerIdiomaPorDefecto]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Nombre,
        Codigo,
        isDefault
    FROM Idioma
    WHERE isDefault = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdiomas]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerIdiomas]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        Nombre,
        Codigo,
        isDefault
    FROM Idioma
    ORDER BY 
        isDefault DESC
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosAgrupados]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosAgrupados]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT pav.Nombre, pav.Padre
		FROM 
			dbo.PermisosAgrupados_View pav



END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosAgrupadosPorUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosAgrupadosPorUsuario]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT puv.Nombre,puv.Padre
	FROM dbo.Permiso_Usuario_View puv
	INNER JOIN dbo.PermisosAgrupados_View pav
		ON pav.IdPermiso = puv.idPermiso
	WHERE puv.UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosRelacionados]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosRelacionados]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Nombre,Padre
		FROM dbo.PermisoPadre_PermisoHijo_View


END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosSimples]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosSimples]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT psv.Nombre, psv.Padre
	FROM dbo.PermisosSimples_View psv


END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPermisosSimplesPorUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPermisosSimplesPorUsuario]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT puv.Nombre,puv.Padre
	FROM dbo.Permiso_Usuario_View puv
	INNER JOIN dbo.PermisosSimples_View psv
		ON psv.IdPermiso = puv.idPermiso
	WHERE puv.UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerRutaBackupPorDefecto]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerRutaBackupPorDefecto]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @BackupDirectory NVARCHAR(500);
    
    -- Obtener la ruta de backup por defecto desde el registro de SQL Server
    EXEC master.dbo.xp_instance_regread 
        N'HKEY_LOCAL_MACHINE',
        N'Software\Microsoft\MSSQLServer\MSSQLServer',
        N'BackupDirectory', 
        @BackupDirectory OUTPUT;
    
    -- Si no hay ruta configurada, usar la carpeta de datos
    IF @BackupDirectory IS NULL
    BEGIN
        EXEC master.dbo.xp_instance_regread 
            N'HKEY_LOCAL_MACHINE',
            N'Software\Microsoft\MSSQLServer\MSSQLServer',
            N'DefaultData', 
            @BackupDirectory OUTPUT;
    END
    
    -- Si aún es NULL, usar una ruta por defecto
    IF @BackupDirectory IS NULL
    BEGIN
        SET @BackupDirectory = 'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\Backup';
    END
    
    SELECT @BackupDirectory AS RutaBackup;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTraduccionPorIdiomaYControlIdioma]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTraduccionPorIdiomaYControlIdioma]
    @IdIdioma UNIQUEIDENTIFIER,
    @IdControlIdioma UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        Id,
        IdIdioma,
        IdControlIdioma,
        TextoTraducido
    FROM 
        Traduccion
    WHERE 
        IdIdioma = @IdIdioma 
        AND IdControlIdioma = @IdControlIdioma;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioHistorico]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioHistorico]
    @UserName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        IdUsuario,
        Nombre,
        Apellido,
        Email,
        UserName,
        Bloqueado,
        CantidadIntentos,
        FechaModificacion,
        TipoOperacion,
        UsuarioModificador
    FROM UsuarioHistorico
    WHERE UserName = @UserName
    ORDER BY FechaModificacion DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorUsername]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorUsername]
    @UserName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos,
            FechaEliminado
    FROM dbo.Usuario
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos,
            Dvh,
            FechaEliminado
    FROM dbo.Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuariosFiltrados]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuariosFiltrados]
    @Filtro NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT  Id,
            Nombre,
            Apellido,
            Email,
            Contrasena,
            UserName,
            Bloqueado,
            CantidadIntentos
    FROM dbo.Usuario
    WHERE Nombre LIKE '%' + @Filtro + '%' 
       OR Apellido LIKE '%' + @Filtro + '%' 
       OR Email LIKE '%' + @Filtro + '%' 
       OR UserName LIKE '%' + @Filtro + '%';
END

GO
/****** Object:  StoredProcedure [dbo].[RegistrarBackup]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarBackup]
    @Id UNIQUEIDENTIFIER,
    @NombreArchivo NVARCHAR(255),
    @RutaCompleta NVARCHAR(500),
    @FechaCreacion DATETIME,
    @TamanoBytes BIGINT,
    @UsuarioCreador NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Backups (
        Id,
        NombreArchivo, 
        RutaCompleta, 
        FechaCreacion, 
        TamanoBytes, 
        UsuarioCreador
    )
    VALUES (
        @Id,
        @NombreArchivo, 
        @RutaCompleta, 
        @FechaCreacion, 
        @TamanoBytes, 
        @UsuarioCreador
    );
END
GO
/****** Object:  StoredProcedure [dbo].[ResetearIntentosUsuario]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetearIntentosUsuario]
    @UserName NVARCHAR(100),
    @Dvh NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE dbo.Usuario 
    SET CantidadIntentos = 0,
        Dvh = @Dvh
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[RestaurarBackup]    Script Date: 19/11/2025 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestaurarBackup]
    @NombreBD NVARCHAR(100),
    @RutaArchivo NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SQL NVARCHAR(MAX);
    
    -- Poner la BD en modo single user para cerrar todas las conexiones
    SET @SQL = N'ALTER DATABASE [' + @NombreBD + '] SET SINGLE_USER WITH ROLLBACK IMMEDIATE';
    EXEC sp_executesql @SQL;
    
    -- Restaurar el backup
    SET @SQL = N'RESTORE DATABASE [' + @NombreBD + '] 
                 FROM DISK = ''' + @RutaArchivo + ''' 
                 WITH REPLACE, CHECKSUM';
    EXEC sp_executesql @SQL;
    
    -- Volver a modo multi user
    SET @SQL = N'ALTER DATABASE [' + @NombreBD + '] SET MULTI_USER';
    EXEC sp_executesql @SQL;
END
GO
USE [master]
GO
